{% import "bootstrap/wtf.html" as wtf %}
{% include 'layout.html' %}
{% block content %}

<div class="container mt-5">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {{wtf.quick_form(form)}}
    <hr>
    {% if session['name'] %}
        <h3>ข้อมูลที่ส่งมา</h3>
        ชื่อ: <strong>{{session['name']}}</strong><br>
        เพศ ? <strong>{{session['gender']}}</strong><br>
        ทักษะความสามารถ ?<strong>{{session['skill']}}</strong><br>
        ยอมรับบริการหรือไม่ <strong>{{session['isAccept']}}</strong><br>
        ที่อยู่ <strong>{{session['address']}}</strong>

    {% else %}
        ไม่พบข้อมูลชื่อ
    {% endif %}
</div>
<script>
    const btn = document.querySelector('.btn.btn-default')
    btn.classList.remove('btn-default')
    btn.classList.add('btn-success')
    console.log(btn)
</script>

{% endblock %}